#index {
  min-height: 100vh;
  background-color:	rgba(208, 193,  149, .8)
}

.ui.negative.message {
  margin-bottom: 0;
}

@media only screen and (min-width: 767px) {
  body {
    overflow-y: hidden
  }
}