
#Dashboard .row .column {
  padding-left: 0;
}

.asset .ui.card {
  margin: 10px;
  background: rgb(26, 30, 48);
  border-radius: 0;
  box-shadow: 2px 2px 5px 1px #000, inset 0 0 3px #000000;
}

.asset .ui.card:hover {
  background: rgb(23, 27, 49);
  box-shadow: 1px 1px 1px .5px #000, inset 0 0 13px #000000;
  transform: translateY(-1px);
}


.asset .ui.card .content {
  border: none;
}

.asset .ui.card .content img {
  margin: 0;
}

.asset .ui.card .meta,
.asset .ui.card>.content {
  color: white;
}

.asset .ui.card>.content .header {
  font-family: 'Major Mono Display';
  letter-spacing: 2px;
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.price {
  font-family: Oswald;
}

.ui.card>.content .quantity {
  font-family: Roboto;
  font-size: .8rem;
}

.value {
  font-family: 'Major Mono Display';
}

/* Major+Mono+Display|Oswald|Anton|Roboto:100 */