#main {
  overflow-y: hidden;
}

.ui.grid {
  margin: 0;
}

.ui.grid>.row {
  padding: 0;
}

#sidebar {
  background: rgb(26, 30, 48);
  height: 100vh;
  padding-top: 40px;
}

#sidebar .ui.header,
#topbar .ui.header {
  color: white;
}

#topbar {
  background: rgb(26, 30, 48);
  color: white;
  padding: 20px 0;
}