#Nav {
  background-color: #2185d0;
  margin-bottom: 0;
  transition: top 500ms 0ms;
}

#mesage {
  height: auto;
  transition: height 1500ms 0ms;
}

#logo {
  text-align: center;
  padding: 0 20px;
}

#logo img {
  padding-top: 0;
}

#logo .ui.header {
  font-family: 'Major Mono Display';
  margin: 0;
}

#Nav .ui.mini.image {
  width: 62px;
  height: auto;
  padding-bottom: 0;
  display: inline-block;
}

#login {
  align-self: flex-end;
}

#login, #logout, #signup {
  color: white;
  box-shadow: 2px 2px #000, inset 0 0 5px #000000;
  font-family: Roboto
}

#logout, #login {
  background: rgb(26, 30, 48);
  margin: 0 5px;
}

#logout:hover, #login:hover {
  background: rgb(7, 8, 12);
}

#signup:hover {
  background: #0075cf;
}

#login:hover, #logout:hover, #signup:hover {
  box-shadow: 1px 1px #000, inset 1px 1px 10px #000000;
}

#signup {
  background: #2185d0;
}

.ui.mini.button.positive {
  background: #18458e;
}

.ui.mini.button {
  background: #000;
  padding: 10px;
}

.ui.button:hover {
  background: rgb(66, 66, 66);
  color: white;
}

.ui.button.positive:hover {
  background: #3e5e91;
}

@media only screen and (max-width: 767px) {

  .ui.secondary.menu .item:first-of-type div {
    margin: 0 auto;
  }

  .ui.stackable.menu .left.item img, 
  .ui.stackable.menu .left.item h2 {
    text-align: center;
  }

  .ui.stackable.menu .item  {
    width: 75%;
    max-width: 300px;
    margin: 0 auto;
  }

  .ui.stackable.menu .item:last-of-type {
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (min-width: 767px) {
  #Nav .item {
    padding-right: 8px;
    padding-left: 0px;
    margin: 0;
  }
}




/* Major+Mono+Display|Oswald|Anton|Roboto:100 */
