#logo, #greeting {
  font-family: 'Major Mono Display'
}

#greeting {
  font-family: 'Roboto';
}

#nav {
  background-color: #2185d0;
  margin-bottom: 0;
}

/* Major+Mono+Display|Oswald|Anton|Roboto:100 */
