#topbar.mobile.row {
  margin: 0;
  height: 100px;
  background: rgb(26, 30, 48);
  padding: 20px 0;
  text-align: center;
}

#topbar .ui.container {
  width:  100%;
  
}

#topbar h3, #topbar h1 {
  color: white;
  text-align: center;
  margin: 0;
  display: block;
  width: 100%;
}