.asset {
  padding-bottom: .3rem;
}

.ui.grid>.row {
  padding: .5rem 0;
}

.ui.large.header {
  margin-bottom: .2rem;
  font-family: 'Oswald'
}

.card .segment {
  background-color: rgba(255, 255, 255, .9)
}

.ui.segment:hover {
  background: rgba(255,255,255,1)
}

.ui.grid>.row>.column.ticker {
  padding-left: 0
}